bin
data
include
lib
local
config.yml

*.pyc

classification-tool/dist
classification-tool/cabal.sandbox.config
classification-tool/.cabal-sandbox
classification-tool/image-cache

# Data processing artifacts from `make`
*.table
